
<%= form_with model:@user, local: true do |f| %>

	<!-- エラーメッセージ表示-->
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- エラーメッセージ表示-->

  <h2>User info</h2>
	<div class="field">
		<th>Name</th>
		<%= f.text_field :name, class: "name" %>
	</div>

	<div class="field">
		<p>Image</p>
		<%= f.attachment_field :profile_image, class: "user_image" %>
	</div>

	<div class="field">
		<th>Introduction</th>
		<%= f.text_area :introduction, class: "introduction" %>
	</div>

	<div class="actions">
		<%= f.submit "Update User", class:"btn btn-default" %>
	</div>

<% end %>